.header {
  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;
  background-color: #222;
  color: white;

  width: 100%;
  box-sizing: border-box;
}


/* 3 equal columns */
.nav,
.logo,
.search-bar {
  flex: 1;
}

/* left */
.nav {
  display: flex;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

.nav ul li {
  cursor: pointer;
}

/* center */
.logo {
  display: flex;
  justify-content: center;
}

.logo h1 {
  margin: 0.6rem;
  font-size: 2rem;
}

/* right */
.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-bar button {
  height: 36px;
  padding: 0 12px;
  border: none;
  border-radius: 6px;
  background: #f4a261;
  cursor: pointer;
}
