.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: #222;
    color: white;
    width: 97.3vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 1.5rem;
    margin: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin: 0 15px;
    font-size: 1rem;
    cursor: pointer;
}

.nav ul li:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    background: #f4a261;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search-bar button:hover {
    background: #e76f51;
}
