body {
    font-family: Helvetica, sans-serif;
    background: white;
    color: black;
}

.landingPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.4rem;
    margin-top: 1vh;
}

.title p {
    font-size: 1rem;
    margin-top: -2.5rem;
    opacity: 0.7;
}

.banner {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.banner img {
    width: 60vw;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.landingPage .featuredBooks {
    align-items: center;
}

.landingPage .bookContainer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.landingPage .bookCover {
    width: 8vw;
    height: 25vh;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.landingPage .bookText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    line-height: 1.2;
}

.landingPage .bookTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.homepage .bookAuthor {
    font-size: 15px;
    font-weight: normal;
    margin: 3px 0;
}

.homepage .bookPrice {
    font-size: 15px;
    font-weight: normal;
    margin: 3px 0;
}

.bestSellerRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 10px;
    color: black;
}

.arrow:hover {
    color: white;
    background-color: black;
}

.newBooksRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

