/* Shared auth page layout (Register + Login) */
.registerPage,
.loginPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Center the card */
.registerContent,
.loginContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

/* Card */
.registerContainer,
.loginContainer {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);

    width: 100%;
    max-width: 420px;
}

/* Titles */
.registerContainer h1,
.loginContainer h1 {
    margin: 0;
    margin-bottom: 10px;
}

.registerContainer h2,
.loginContainer h2 {
    margin: 0;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    color: #666;
}

/* Labels */
label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

/* Inputs */
.registerContainer input,
.loginContainer input {
    width: 85%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Buttons */
.registerContainer button,
.loginContainer button {
    width: 50%;
    padding: 12px;

    border-radius: 10px;
    border: none;

    background-color: black;
    color: white;

    font-size: 16px;
    cursor: pointer;

    display: block;
    margin: 45px auto 0 auto;
}

.registerContainer button:hover,
.loginContainer button:hover {
    background-color: #333;
}

/* Bottom links */
.registerFooter,
.loginFooter {
    text-align: center;
    padding: 20px;
}


.message {
    margin-top: 15px;
    text-align: center;
}
